<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852924809459-o0uffr3tl6iu45vbe5sj74iducj6f8am.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852924809459-o0uffr3tl6iu45vbe5sj74iducj6f8am</string>
	<key>API_KEY</key>
	<string>AIzaSyBpYrbvf8FOeLmOo40K9eaqMZQUWP_ROjE</string>
	<key>GCM_SENDER_ID</key>
	<string>852924809459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.malispos</string>
	<key>PROJECT_ID</key>
	<string>malispos</string>
	<key>STORAGE_BUCKET</key>
	<string>malispos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852924809459:ios:4b0bc96224bdfc91673786</string>
</dict>
</plist>